build/index.html
<!DOCTYPE html><html lang="en" dir="ltr"><head><title>Main</title><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><style type="text/css">a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:30px}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}body,html{width:100%;height:100%}*{-webkit-box-sizing:border-box;box-sizing:border-box}.payment-invoice{font-family:Roboto,sans-serif;width:1000px;padding:35px;border:1.5px solid #000}td.td-img>img{width:170px}.guest-fullname{font-size:16px;font-weight:600;text-decoration:underline}.example-container{border:2px solid #000;margin:50px 10px 40px}.example-container td{padding:5px 8px}.example-container-header{font-size:14px;font-weight:800;padding-top:10px;padding-bottom:30px;text-align:center}.example-container-table-title{text-align:left;font-size:14px}.text-center{text-align:center}.text-bold{font-weight:700}.payment-invoice-header td{vertical-align:top}.payment-invoice-header span.guest-info{font-size:14px;font-weight:600}h1{width:100%;padding:7px;font-weight:900;font-size:30px;text-align:center}.bold{font-weight:700}td.bolder{border:3px solid #000;padding:7px;text-align:center;vertical-align:middle}td.text-start{text-align:left}.fullname-table{margin:15px 0}.fullname-table td{padding:2px 5px;font-size:14px}.bottom-td{font-weight:900;text-align:right;padding:6px}.bottom-td-content{font-weight:900;border:3px solid #000;text-align:center;vertical-align:middle;padding:6px}.data-table{margin-bottom:100px}.field-td{border-bottom:3px solid #000}</style></head><body><div class="payment-invoice"><div class="payment-invoice-header"><table><tbody><tr><td class="td-img" width="50"><img src="./images/logo.png"></td><td width="1000"><span class="guest-fullname">Андреасян Гарри Аршакович</span><br><span class="guest-info">Юридична адреса: 03039, г. Киев, улица Голосеевская, дом 13Б, квартира 348</span><br><span class="guest-info">Телефон: +38 (032) 261-59-03 Email: lviv@garishotel.com</span></td></tr></tbody></table></div><table class="example-container" cellpadding="30"><tr><td colspan="12" width="100"><div class="example-container-header">Зразок заповнення платіжного доручення</div></td></tr><tr><td class="example-container-table-title" colspan="2" width="200">Одержувач</td><td colspan="2" width="350"></td><td colspan="3" width="300"></td><td class="example-container-table-title text-center" colspan="4" width="400">КРЕДИТ рах. N</td><td colspan="1" width="50"></td></tr><tr><td colspan="2">Код</td><td class="bolder text-center text-bold" colspan="2">2893918716</td><td colspan="3"></td><td class="bolder text-center text-bold" colspan="4">26007520428</td><td colspan="1"></td></tr><tr><td colspan="2">Банк одержувача</td><td class="bolder text-start text-bold" colspan="2">АО "Райффайзен Банк Аваль"</td><td class="text-center" colspan="3">Код банку</td><td class="bolder text-center text-bold" colspan="4"></td><td colspan="1"></td></tr><tr><td colspan="2"></td><td colspan="2"></td><td colspan="1"></td><td class="bolder text-center text-bold" colspan="1">3809805</td><td colspan="1"></td><td colspan="4"></td><td colspan="1"></td></tr><tr><td colspan="12" height="30"></td></tr></table><h1>Рахунок №84470179-01</h1><h1>від 25 февраля 2021 р.</h1><table class="fullname-table"><tbody><tr><td class="bold" colspan="1" width="30">ПІБ:</td><td colspan="11">Сидоренко Аліна Олександрівна</td></tr><tr><td class="bold" colspan="1" width="30">Бронювання:</td><td colspan="11">20210306-5221-84470179</td></tr></tbody></table><table class="data-table"><thead><tr><td class="bolder" width="50">№</td><td class="bolder" width="320">Товари (роботи, послуги)</td><td class="bolder" width="80">Одиниця виміру</td><td class="bolder" width="80">Кіль-сть</td><td class="bolder" width="100">Ціна, UAH</td><td class="bolder" width="100">Сума, UAH</td></tr></thead><tbody><tr><td class="bolder">1</td><td class="bolder text-start">Проживание с 6 марта 2021г. по 8 марта 2021г.. "10". Дабл стандарт. Гость: Сидоренко Аліна Олександрівна</td><td class="bolder">Сут.</td><td class="bolder">2</td><td class="bolder">479,00</td><td class="bolder">958,00</td></tr><tr><td class="bottom-td" colspan="5">Всього:</td><td class="bottom-td-content">958,00</td></tr><tr><td class="bottom-td" colspan="5">Податки і збори:</td><td class="bottom-td-content">-</td></tr><tr><td class="bottom-td" colspan="5">Вартість:</td><td class="bottom-td-content">958,00</td></tr><tr><td class="bottom-td" colspan="5">Сплачено:</td><td class="bottom-td-content">8,00</td></tr><tr><td class="bottom-td" colspan="5">Всього до сплати:</td><td class="bottom-td-content">958,00</td></tr></tbody></table><table><tr><td width="100">Адміністратор</td><td class="field-td" width="100"> </td><td width="100"></td></tr></table></div></body></html>

src/pug/index.pug
doctype html
html(lang="en" dir="ltr")
    head
        title Main
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        style(type='text/css')
            include ../css/index.css
    body
        div.payment-invoice
            div.payment-invoice-header
                table
                    tbody
                        tr
                            td.td-img(width='50')
                                img(src='./images/logo.png')
                            td(width='1000')
                                span.guest-fullname Андреасян Гарри Аршакович
                                br
                                span.guest-info Юридична адреса: 03039, г. Киев, улица Голосеевская, дом 13Б, квартира 348
                                br
                                span.guest-info Телефон: +38 (032) 261-59-03 Email: lviv@garishotel.com
            table.example-container(cellpadding='30')
                tr
                    td(colspan='12' width='100')
                        div.example-container-header Зразок заповнення платіжного доручення
                tr
                    td.example-container-table-title(colspan="2" width="200") Одержувач
                    td(colspan="2" width="350")
                    td(colspan="3" width="300")
                    td.example-container-table-title.text-center(colspan="4" width="400") КРЕДИТ рах. N
                    td(colspan="1" width="50")
                tr
                    td(colspan='2') Код
                    td.bolder.text-center.text-bold(colspan='2') 2893918716
                    td(colspan='3')
                    td.bolder.text-center.text-bold(colspan='4') 26007520428
                    td(colspan='1')
                tr
                    td(colspan='2') Банк одержувача
                    td.bolder.text-start.text-bold(colspan='2') АО "Райффайзен Банк Аваль"
                    td.text-center(colspan='3') Код банку
                    td.bolder.text-center.text-bold(colspan='4')
                    td(colspan='1')
                tr
                    td(colspan='2')
                    td(colspan='2')
                    td(colspan='1')
                    td.bolder.text-center.text-bold(colspan='1') 3809805
                    td(colspan='1')
                    td(colspan='4')
                    td(colspan='1')
                tr
                    td(colspan='12' height='30')
            h1 Рахунок №84470179-01
            h1 від 25 февраля 2021 р.
            table.fullname-table
                tbody
                    tr
                        td.bold(colspan='1' width='30') ПІБ:
                        td(colspan='11') Сидоренко Аліна Олександрівна
                    tr
                        td.bold(colspan='1' width='30') Бронювання:
                        td(colspan='11') 20210306-5221-84470179
            table.data-table
                thead
                    tr
                        td.bolder(width='50') №
                        td.bolder(width='320') Товари (роботи, послуги)
                        td.bolder(width='80') Одиниця виміру
                        td.bolder(width='80') Кіль-сть
                        td.bolder(width='100') Ціна, UAH
                        td.bolder(width='100') Сума, UAH
                tbody
                    tr
                        td.bolder 1
                        td.bolder.text-start Проживание с 6 марта 2021г. по 8 марта 2021г.. "10". Дабл стандарт. Гость: Сидоренко Аліна Олександрівна
                        td.bolder Сут.
                        td.bolder 2
                        td.bolder 479,00
                        td.bolder 958,00
                    tr
                        td.bottom-td(colspan='5') Всього:
                        td.bottom-td-content 958,00
                    tr
                        td.bottom-td(colspan='5') Податки і збори:
                        td.bottom-td-content -
                    tr
                        td.bottom-td(colspan='5') Вартість:
                        td.bottom-td-content 958,00
                    tr
                        td.bottom-td(colspan='5') Сплачено:
                        td.bottom-td-content 8,00
                    tr
                        td.bottom-td(colspan='5') Всього до сплати:
                        td.bottom-td-content 958,00
            table
                tr
                    td(width='100') Адміністратор
                    td.field-td(width='100') 
                    td(width='100')
